* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-image: url("../images/fondoDiurno.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 14px;
}

nav {
  background: url("../images/barra.png");
  background-size: 100% 100%;
  bottom: 0;
  height: 750px;
  height: 85%;
  position: fixed;
  right: 0;
  width: 70%;
}

.barraNav
{
  width: 105%;
}

.cuerpo {
  left: 0px;
  overflow: hidden;
  top: 0px;
  width: 100%;
}

.enlaceDesarrollo
{
  border: 5px solid rgba(255,209,31,1);
  border-radius: 50%;
  height: 180px;
  left:74%;
  position: absolute;
  top: 6%;
  transition: box-shadow 0.6s ease;
  width: 180px;
}

.enlaceDiseño
{
  border: 5px solid rgba(255,209,31,1);
  border-radius: 50%;
  height: 180px;
  left:39%;
  position: absolute;
  top: 23%;
  transition: box-shadow 0.6s ease;
  width: 180px;
}

.enlaceFotografia
{
  border: 5px solid rgba(255,209,31,1);
  border-radius: 50%;
  height: 180px;
  position: absolute;
  left:10%;
  transition: box-shadow 0.6s ease;
  top: 57%;
  width: 180px;
}

.FT
{
  width: 100%;
}

.linkedin {
  border-color: rgba(255,209,31,1);
  border-style: solid;
  border-width: 4px 0 0 0;
  bottom: 10px;
  color: rgba(255,209,31,1);
  text-align: center;
  font-family: Quicksand;
  font-size: 28px;
  font-weight: Bold;
  left: 2px;
  position: absolute;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  /* width: 305px; */
  width:29.5%;
}

.linkedin a
{
  color: inherit;
  text-decoration: none;
}

.linkedin a:hover
{
  text-shadow: 0 0 25px rgba(255,209,31,1);
}

.logos
{
  margin-top: 37px;
  transition: transform 0.6s ease;
  width: 95%;
}

.logos:hover
{
  transform: scale(1.2);
}

.logosF
{
  border-radius: 5px;
  margin-left: 27px;
  margin-top: 32px;
  transition: transform 0.6s ease;
  width: 69%;
}

.logosF:hover {
  transform: scale(1.2);
}

.modo
{
  background: url("../images/modoOscuro.png");
  background-size: 100% 100%;
  position:fixed;
  height: 30px;
  margin: 20px;
  right: 0;
  top: 0;
  width: 30px;
}

.sobreMi {
  color: rgba(93,31,255,1);
  position: absolute;
  left: 60px;
  font-family: Quicksand;
  font-size: 18px;
  font-weight:bold;
  opacity: 1;
  text-align: left;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  top: 225px;
  transition: opacity 0.6s ease;
  width: 26%;
}

.subtitulo {
  border-color: rgba(255,209,31,1);
  border-style: solid;
  border-radius: 7px;
  border-width: 7px 0 7px 0;
  color: rgba(255,209,31,1);
  font-family: Quicksand;
  font-size: 28px;
  font-weight: Bold;
  line-height: 95%;
  text-align: left;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25);
  /* width: 725px; */
  width: 100%;
}

.textoDesarrollo
{
  color: rgba(93,31,255,1);
  font-family: Quicksand;
  font-size: 18px;
  font-weight:bold;
  position: absolute;
  right: 2%;
  text-align: right;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  top: 47%;
  transition: opacity 0.6s ease;
  width: 40%;
  opacity: 0;
}

.textoDiseño
{
  color: rgba(93,31,255,1);
  font-family: Quicksand;
  font-size: 18px;
  font-weight:bold;
  position: absolute;
  right: 2%;
  text-align: right;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  top: 47%;
  transition: opacity 0.6s ease;
  width: 40%;
  opacity: 0;
}

.textoFotografia
{
  color: rgba(93,31,255,1);
  font-family: Quicksand;
  font-size: 18px;
  font-weight:bold;
  position: absolute;
  right: 2%;
  text-align: right;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  top: 47%;
  transition: opacity 0.6s ease;
  width: 40%;
  opacity: 0;
}

.titulo {
  background: url("../images/poligonoNombre.png");
  background-size: 100% 100%;
  color: rgba(31,112,255,1);
  left: 52px;
  position: absolute;
  top: 39px;
  width: 52%;
}
